#chessTableStyling { 
	border:0px solid #333; 
}
#chessTableStyling tr { 
 border:0px;
 padding:0px;
 margin:0px;
}
#chessTableStyling td { 
	background:#fff; 
	background:-moz-linear-gradient(top, #fff, #eee); 
	background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee)); 
	box-shadow:inset 0 0 0 1px #fff; -moz-box-shadow:inset 0 0 0 1px #fff; 
	-webkit-box-shadow:inset 0 0 0 1px #fff;  text-align:center; 
	vertical-align:middle; 
	padding : 0px;
	cursor:pointer;
	border-top: 0px;
	border: 0px;
}
#chessTableStyling tr:nth-child(odd) td:nth-child(even),
#chessTableStyling tr:nth-child(even) td:nth-child(odd) { 
	background:#ccc; 
	background:-moz-linear-gradient(top, #ccc, #eee); 
	background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee)); 
	box-shadow:inset 0 0 10px rgba(0,0,0,.4); 
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4); 
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4); 
}
#chessTableStyling td.active { 
	background:FFFF00 !important;
	background:-moz-linear-gradient(top, #FFFF00, #FFDD00) !important;
	background:-webkit-gradient(linear,0 0, 0 100%, from(#FFFF00), to(#FFDD00))!important; 
	-moz-box-shadow:inset 0 0 0 1px #FFFF00 !important;
	-webkit-box-shadow:inset 0 0 0 1px #FFFF00 !important; 
}
#chessTableStyling tr:nth-child(odd) td.active:nth-child(even),
#chessTableStyling tr:nth-child(even) td.active:nth-child(odd)
{
	background:#FFFF00 !important;
	background:-moz-linear-gradient(top, #FFDD00, #FFFF00) !important;
	background:-webkit-gradient(linear,0 0, 0 100%, from(#FFDD00), to(#FFFF00))!important; 
	box-shadow:inset 0 0 10px rgba(0,0,0,.4) !important;
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4) !important;
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4)!important;
}
.chessCoin {  
   font-size:5em;
} 
.chessCoin.b{
	color:#333;
}
.chessCoin.w{
	color:#FFF
}