<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a>Chess 2 Play</a>
          <p class="lead">A two player chess game using Bootstrap and Angular.js.</p>
        </h1>
      </div>
      <div class="col-md-6">
        <div class="pull-right maxOnly" style="margin:5px"> <img src="images/tall_chess_icon.png"> </div>
      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading customHeading"> About Chess 2 Play </div>
        <div class="panel-body"><p>Chess 2 Play is a project initially created using javascript and CSS. The current game is an improved version build using Bootstrap and Angular.js. The backend conectivity is done using php.</p>
        <p>The game have provisions to play multiple games simultaniously. The state of the game is retained and could be retained at any time. Below are few notable improvements in this version,</p>
        <ol>
        	<li>Replay the game to its latest state</li>
            <li>Ability to return back to the game</li>
            <li>View other player profiles to see their stats</li>
        </ol>
        <p>You can access the source code of the tool in the below link<br/><a href="https://github.com/daniepaul/Chess2Play" target="_blank"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span>github/daniepaul/Chess2Play</a></div>
      </div>
    </div>
  </div>
</div>