<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a>Chess 2 Play</a>
          <p class="lead">A two player chess game using javascript.</p>
        </h1>
      </div>
      <div class="col-md-6">
        <div class="pull-right maxOnly" style="margin:5px"> <img src="images/tall_chess_icon.png"> </div>
      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
  <div class="no-gutter row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading customHeading"> About Chess 2 Play </div>
        <div class="panel-body"> test content </div>
      </div>
    </div>
  </div>
</div>