<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-6" ng-controller="UserProfileCtrl">
        <h1><a>{{profile.username}}</a>
            <p class="lead">Profile</p>
        </h1>
      </div>
      <div class="col-md-6">
        <div class="pull-right maxOnly" style="margin:5px"> <img src="images/man-icon.png"> </div>
      </div>
    </div>
  </div>
</header>

<!-- Begin Body -->
<div class="container">
  <div class="row">
    <div class="col-md-6" ng-if="profile.LoggedIn == 'true'">
      <div class="panel">
        <div class="panel-heading customHeading">Active Players</div>
        <div class="panel-body">
        	<table class="table table-striped" ng-controller="ActiveUserCtrl">
            	<tr ng-repeat="user in users">
                	<td><a href="#/profile/{{user.username}}">{{user.username}}</a></td>
                    <td ng-switch="user.status">
                    	<span ng-switch-when="Available" class="label label-success">{{user.status}}</span>
                        <span ng-switch-when="Invited" class="label label-default">{{user.status}}</span>
                        <span ng-switch-when="Playing" class="label label-danger">{{user.status}}</span>
                        <span ng-switch-when="Requested" class="label label-warning">{{user.status}}</span>
                    </td>
                    <td ng-switch="user.status">
                    	<a ng-switch-when="Available" class="btn btn-info btn-xs" ng-click="inviteForGame(profile.userId,user.userid)" role="button">Invite for a game</a>
                        <a ng-switch-when="Requested" class="btn btn-info btn-xs" ng-click="acceptGame(user.gameId)" role="button">Accept Invite</a>
                        <a ng-switch-when="Playing" class="btn btn-info btn-xs" ng-click="acceptGame(user.gameId)" role="button">Continue Playing</a>
                    </td>
                </tr>
            </table> 
        </div>
      </div>
    </div>
    <div ng-class="profile.LoggedIn == 'true' ? 'col-md-6' : ''" ng-controller="UserProfileCtrl">
    <div ng-class="profile.LoggedIn == 'true' ? '' : 'col-md-6'">
      <div class="panel">
        <div class="panel-heading customHeading">Game Stats</div>
        <div class="panel-body">
        	  <table class="table table-striped">
             	 <tr  class="success" style="font-weight:bold">
                <td>Total Points</td><td>{{profile.totalPoints}}</td>
                </tr>
            	<tr>
                <td>Total Games Played</td><td>{{profile.playedGames}}</td>
                </tr>
                <tr>
                <td>Games Won</td><td>{{profile.wonGames}}</td>
                </tr>
                <tr>
                <td>Games Lost</td><td>{{profile.lostGames}}</td>
                </tr>
                <tr>
                <td>Games Drawn</td><td>{{profile.drawnGames}}</td>
                </tr>
            </table> 
        </div>
      </div>
     </div>
     <div ng-class="profile.LoggedIn == 'true' ? '' : 'col-md-6'">
      <div class="panel">
        <div class="panel-heading customHeading">Profile Details</div>
        <div class="panel-body">
        	<table class="table table-striped">
            	<tr>
                <td>User Name</td><td>{{profile.username}}</td>
                </tr>
                <tr>
                <td>Email Address</td><td>{{profile.email}}</td>
                </tr>
                <tr>
                <td>Gender</td><td>{{profile.gender}}</td>
                </tr>
                <tr>
                <td>Location</td><td>{{profile.country}}</td>
                </tr>
            </table> 
        </div>
      </div>
      </div>
    </div>
  </div>
</div>